{% extends 'CRUD/main.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<h4>Welcome {{request.user.first_name}}&nbsp;{{request.user.last_name}}!</h4>

<hr>
<div class="container">
<a href="{% url 'SAP-create' %}" class="button">Add Achievements</a>
<table class="table">
    <tr>
    <th>Title</th>
    <th>Date and Time</th>
    <th>Financial Support</th>
    <th>Activity Remarks</th>
    <th>Certificate</th>
    <th>Actions</th>
    </tr>
{%for Achievements in SAP%}

<tr>
    <td>{{Achievements.title}}</td>
    
    <td>{{Achievements.created}}</td>
    <td>{{Achievements.support}}</td>
    <td>{{Achievements.description}}</td>
    <td><a href="/media/{{Achievements.certificate}}" class="button">View</a></td>
    <td>
        <a href="{% url 'SAP-Edit' Achievements.id %}" class="button">Edit</a>
    <a href="{% url 'SAP-delete' Achievements.id %}" class="button">Delete</a></td>

</tr>
{%empty%}
<h3>Your achievements will appear below</h3>
{%endfor%}
{%endif%}
</table>
</div>
{% endblock %}

